/* css style here */
* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}
body {
  font-family: "Courier New", Courier, monospace;
  max-height: 100vh;
}
.image img {
  height: 200px;
  border: 2px solid cornflowerblue;
  border-radius: 50%;
  padding: 10px;
  margin-top: 10px;
}
.image {
  width: 50%;
  margin: auto;
}
.card-title h2 {
  font-size: 2rem;
  text-align: center;
  text-transform: capitalize;
  font-weight: bold;
  padding: 5px;
}
.card-title p {
  font-size: 1.5rem;
  text-align: center;
  font-weight: 600;
  text-transform: capitalize;
  padding: 5px;
}
.card-description p {
  text-align: justify;
  text-transform: capitalize;
  font-weight: 600;
  font-size: 1.1rem;
  padding: 5px;
}
.web {
  font-size: 1.7rem;
  color: cornflowerblue;
  font-style: italic;
}
.card-btn button {
  padding: 15px 40px;
  border: 2px solid transparent;
  border-radius: 10px;
  box-shadow: 2px 2px 10px gray;
  font-size: 1.3rem;
  font-weight: 500;
  text-transform: capitalize;
  margin: 5px;
}
.card-btn button:hover {
  background-color: cornflowerblue;
  color: white;
}
.card {
  border: 2px solid transparent;
  border-radius: 10px;
  box-shadow: 2px 2px 10px gray;
  margin: 10px;
}
.card-containar {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.card-icon i {
  font-size: 2rem;
  padding: 19px;
  border: 2px solid cornflowerblue;
  border-radius: 50%;
  margin: 10px;
}
.card-icon {
  width: 100%;
  margin: auto;
}
.card-icon i:hover {
  background-color: cornflowerblue;
  color: white;
}
